{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block content %}
    <h1>Sign up!</h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Signup</button>
    </form>
{% endblock %}
