{% extends 'base.html' %}

{% block content %}
    <h1>Create a new task</h1>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='Submit'>Create</button>
    </form>
{% endblock %}
